{% spaceless %}{% if obj.status == 'New' %}
&nbsp;|&nbsp;<a href="{{ obj.id}}/set_status/?status=Running">Start</a>
{% endif %}
{% if obj.status == 'Paused' %}
&nbsp;|&nbsp;<a href="{{ obj.id}}/set_status/?status=Running">{% if obj.status == 'Paused' %}Resume{% else %}Start{% endif %}</a>&nbsp;|&nbsp;<a href="{{ obj.id}}/set_status/?status=Finish">Finish</a>
{% endif %}
{% if obj.status == 'Running' %}
&nbsp;|&nbsp;<a href="{{ obj.id}}/set_status/?status=Paused">Pause</a>&nbsp;|&nbsp;<a href="{{ obj.id}}/set_status/?status=Finish">Finish</a>
{% endif %}{% endspaceless %}
